@import './hero-swiper';

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 99%;
    color: #000;

    &__wrapper {
        display: flex;
        gap: 20px;

        @media screen and (max-width: 990px) {
            display: none;
        }
    }
}

.header-category {
    &__wrapper {
        position: relative;

        ul {
            padding: 0;
            padding: 8px 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            width: max-content;
            gap: 30px;
            margin: 0;

            li a {
                font-weight: 700;
                font-size: 13px;
                line-height: 99%;
                color: #727272;
            }
        }

        &::before {
            z-index: 1;
            height: 100%;
            content: '';
            position: absolute;
            width: 100vw;
            left: 50%;
            top: 0;
            box-sizing: border-box;
            translate: -50%;
            background: #f2f2f2;
            border-top: 1px solid #d4e0e6;
            border-bottom: 1px solid #d4e0e6;
        }

        & > .elementor-widget-container {
            position: relative;
            z-index: 2;
            overflow: hidden;
        }
    }
}

.burger {
    padding: 0 16px;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li a {
            font-weight: 400;
            font-size: 14px;
            line-height: 132%;
            color: #000;
        }
    }

    &_title {
        font-weight: 400;
        font-size: 18px;
        line-height: 132%;
        color: #000;
        margin-bottom: 10px;
    }
}

.elementor-element:has(.header-category__wrapper) {
    @media screen and (max-width: 990px) {
        display: none;
    }
}

.intro-banner {
    .owl-carousel.nav-inside .owl-dots {
        left: 50% !important;
        translate: -50% !important;
        right: auto !important;
    }
}
